---
whiskers:
  version: ^2.5.1
  matrix:
    - flavor
    - accent
  filename: "themes/catppuccin-{{flavor.identifier}}-{{accent}}.cottheme"
---
{% set accent_color = flavor.colors[accent] -%}
{% set line_highlight = text | mod(opacity=0.1) -%}
{% set selection = accent_color | mod(opacity=0.40) -%}
{
  "name" : "Catppuccin {{flavor.name}} {{accent_color.name}}",
  "metadata" : {
    "author" : "Catppuccin",
    "description" : "Soothing pastel theme for CotEditor",
    "distributionURL" : "https:\/\/github.com\/catppuccin\/coteditor",
    "license" : "MIT"
  },
  "background" : {
    "color" : "#{{base.hex}}"
  },
  "text" : {
    "color" : "#{{text.hex}}"
  },
  "selection" : {
    "color" : "#{{selection.hex}}",
    "usesSystemSetting" : false
  },
  "cursor" : {
    "color" : "#{{accent_color.hex}}",
    "usesSystemSetting" : false
  },
  "lineHighlight" : {
    "color" : "#{{line_highlight.hex}}"
  },
  "insertionPoint" : {
    "color" : "#{{accent_color.hex}}",
    "usesSystemSetting" : false
  },
  "highlight" : {
    "color" : "#{{accent_color.hex}}",
    "usesSystemSetting" : false
  },
  "attributes" : {
    "color" : "#{{yellow.hex}}"
  },
  "characters" : {
    "color" : "#{{pink.hex}}"
  },
  "commands" : {
    "color" : "#{{blue.hex}}"
  },
  "comments" : {
    "color" : "#{{overlay2.hex}}"
  },
  "invisibles" : {
    "color" : "#{{overlay0.hex}}"
  },
  "keywords" : {
    "color" : "#{{mauve.hex}}"
  },
  "numbers" : {
    "color" : "#{{peach.hex}}"
  },
  "strings" : {
    "color" : "#{{green.hex}}"
  },
  "types" : {
    "color" : "#{{yellow.hex}}"
  },
  "values" : {
    "color" : "#{{peach.hex}}"
  },
  "variables" : {
    "color" : "#{{maroon.hex}}"
  }
}
